<div class="flex-shrink-0 p-3 bg-white">
   <a routerLink="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
     <span class="fs-5 fw-semibold">Restaurante </span>
   </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1 " *ngFor="let cat of categoriasRestaurante; let i = index">
      <button class="btn btn-outline-warning align-items-center rounded"
      aria-expanded="true" routerLink="/categoria/{{cat.id }}" routerLinkActive="active">
        {{ cat.categoria?.categoria }}
      </button>
    </li>

  </ul>
</div>
