<div class="col-md-8 offset-2">
  <form [formGroup]="checkoutFormGroup" class="needs-validation" (submit)="onSubmit()">
    <div class="row g-3">
      <div formGroupName="cliente">
        <h4 class="mb-3">Información del cliente</h4>
        <div class="row">

          <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control"
                   id="nombre">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
            <div *ngIf="nombre.errors.required || nombre.errors.notOnlyWhitespace">
               Nombre es obligatorio.
            </div>
            <div *ngIf="nombre.errors.minlength">
               Mínimo 2 caracteres.
            </div>
          </div>
        </div>

          <div class="col-md-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" formControlName="apellidos" class="form-control"  id="apellidos">
            <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)"   class="alert alert-danger">
              <div *ngIf="apellidos.errors.required || apellidos.errors.notOnlyWhitespace">
                Apellidos son obligatorios.
              </div>
              <div *ngIf="apellidos.errors.minlength">
                Mínimo 2 caracteres.
              </div>

          </div>
        </div>

        </div>

        <div class="col-md-12">
          <label for="dni" class="form-label">DNI</label>
          <input type="text" formControlName="dni" class="form-control" id="dni">
          <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
            <div *ngIf="dni.errors.required || dni.errors.notOnlyWhitespace">
            DNI es obligatorio.
          </div>
          <div *ngIf="dni.errors.maxlength">
            Máximo 9 caracteres.
          </div>
        </div>
      </div>


        <div class="col-md-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required || email.errors.notOnlyWhitespace">
              Email es obligatorio.
            </div>
            <div *ngIf="email.errors.pattern">
              Formato: email@email.com | email@email.es ...
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="number" formControlName="telefono" class="form-control"     id="telefono">
          <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"  class="alert alert-danger">
            <div *ngIf="telefono.errors.required || telefono.errors.notOnlyWhitespace">
              Teléfono es obligatorio.
            </div>
        </div>
      </div>

      </div>
      <!--   **********************************       FIN DEL CLIENTE **********************************-->
      <!--   **********************************       dIRECCION DE ENVIO **********************************-->

      <div formGroupName="shippingAddress">
        <h4 class="mt-5">Dirección de envío</h4>
        <div class="row">
          <div class="col-md-2">
            <label for="tipoVia" class="form-label">Tipo de vía</label>
            <select formControlName="tipoVia" id="tipoVia" class="form-select" required>
              <option value="calle">Calle</option>
              <option value="Avenida">Avenida</option>
              <option value="Plaza">Plaza</option>
              <option value="Carretera">Carretera</option>
            </select>
            <div *ngIf="shippingAddressTipoVia.invalid && (shippingAddressTipoVia.dirty || shippingAddressTipoVia.touched)" class="alert alert-danger">
              <div *ngIf="shippingAddressTipoVia.errors.required">
              Tipo de Vía es obligatorio.
            </div>
          </div>


          </div>

          <div class="col-md-8">
            <label for="calle" class="form-label">Dirección</label>
            <input type="text" formControlName="calle" class="form-control"
                   id="calle">
            <div *ngIf="shippingAddressCalle.invalid && (shippingAddressCalle.dirty || shippingAddressCalle.touched)" class="alert alert-danger">
              <div *ngIf="shippingAddressCalle.errors.required || shippingAddressCalle.errors.notOnlyWhitespace">
                Calle es obligatoria.
              </div>
              <div *ngIf="shippingAddressCalle.errors.minlength">
                Mínimo 2 caracteres.
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label for="numero" class="form-label">Número</label>
            <input type="text" formControlName="numero" class="form-control"
                   id="numero" >
            <div *ngIf="shippingAddressNumero.invalid && (shippingAddressNumero.dirty || shippingAddressNumero.touched)" class="alert alert-danger">
              <div *ngIf="shippingAddressNumero.errors.required || shippingAddressNumero.errors.notOnlyWhitespace">
              El número es obligatorio.
            </div>
            </div>
        </div>


          <div class="col-md-12">
            <label for="ciudad" class="form-label">Localidad</label>
            <input type="text" formControlName="ciudad" class="form-control"
                   id="ciudad" >
            <div *ngIf="shippingAddressCiudad.invalid && (shippingAddressCiudad.dirty || shippingAddressCiudad.touched)" class="alert alert-danger">
              <div *ngIf="shippingAddressCiudad.errors.required || shippingAddressCiudad.errors.notOnlyWhitespace">
                Tipo de Vía es obligatorio.
              </div>
              <div *ngIf="shippingAddressCiudad.errors.minlength">
                Mínimo 2 caracteres.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <label for="pais" class="form-label">País</label>
            <select class="form-select" (change)="getProvincias('shippingAddress')"
                    formControlName="pais" id="pais" required>
              <option *ngFor="let pais of paises"
                      [ngValue]="pais">{{pais.name}}</option>
            </select>
            <div *ngIf="shippingAddressPais.invalid && (shippingAddressPais.dirty || shippingAddressPais.touched)" class="alert alert-danger">
              <div *ngIf="shippingAddressPais.errors.required">
                País es obligatorio.
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label for="provincia" class="form-label">Provincia</label>
            <select class="form-select" formControlName="provincia" id="provincia" >
              <option *ngFor="let provincia of shippingAddressProvincias"
                      value="{{provincia.name}}">{{provincia.name}}</option>
            </select>
            <div *ngIf="shippingAddressProvincia.invalid && (shippingAddressProvincia.dirty || shippingAddressProvincia.touched)" class="alert alert-danger">
              <div *ngIf="shippingAddressProvincia.errors.required">
              Provincia es obligatorio.
            </div>
          </div>
        </div>

          <div class="col-md-3">
            <label for="cp" class="form-label">C.P.</label>
            <input type="number" formControlName="cp" class="form-control" id="cp" >
            <div *ngIf="shippingAddressCp.invalid && (shippingAddressCp.dirty || shippingAddressCp.touched)" class="alert alert-danger">
              <div *ngIf="shippingAddressCp.errors.required || shippingAddressCp.errors.notOnlyWhitespace">
                Código Postal es obligatorio.
              </div>
              <div *ngIf="shippingAddressCp.errors.minlength">
                Mínimo 2 caracteres.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      ******    final de shipping address -->
      <hr class="my-4">
      <div class="form-check">
        <input type="checkbox" (change)="copyShippingToBilling($event)"
               class="form-check-input" id="same-address">
        <label class="form-check-label" for="same-address">La dirección de envío es
          la misma que la de facturación</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="save-info">
        <label class="form-check-label" for="save-info">Guardar esta
          dirección</label>
      </div>
    <!--              Fin de los check-->
    <!--   ***********         Direccion de facturacion-->
    <div formGroupName="billingAddress">
      <h4 class="mt-5">Dirección de envío</h4>
      <div class="row">
        <div class="col-md-2">
          <label for="tipoViaB" class="form-label">Tipo de vía</label>
          <select formControlName="tipoVia" class="form-select" id="tipoViaB"
                  required>
            <option selected>Calle</option>
            <option>Avenida</option>
            <option>Plaza</option>
            <option>Carretera</option>
          </select>
          <div *ngIf="billingAddressTipoVia.invalid &&  (billingAddressTipoVia.dirty || billingAddressTipoVia.touched)" class="alert alert-danger">
            <div *ngIf="billingAddressTipoVia.errors.required">
            Tipo de Vía es obligatoria.
          </div>
        </div>
      </div>

        <div class="col-md-8">
          <label for="calleB" class="form-label">Dirección</label>
          <input type="text" formControlName="calle" class="form-control"
                 id="calleB" >
          <div *ngIf="billingAddressCalle.invalid && (billingAddressCalle.dirty || billingAddressCalle.touched)" class="alert alert-danger">
            <div *ngIf="billingAddressCalle.errors.required || billingAddressCalle.errors.notOnlyWhitespace">
              Calle es obligatoria.
            </div>
            <div *ngIf="billingAddressCalle.errors.minlength">
              Mínimo 2 caracteres.
            </div>
          </div>

          <div class="col-md-12">
            <label for="ciudadB" class="form-label">Localidad</label>
            <input type="text" formControlName="ciudad" class="form-control"
                   id="ciudadB" >
            <div *ngIf="billingAddressCiudad.invalid && (billingAddressCiudad.dirty || billingAddressCiudad.touched)" class="alert alert-danger">
              <div *ngIf="billingAddressCiudad.errors.required || billingAddressCiudad.errors.notOnlyWhitespace">
                Ciudad es obligatoria.
              </div>
              <div *ngIf="billingAddressCiudad.errors.minlength">
                Mínimo 2 caracteres.
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-5">
              <label for="paisB" class="form-label">País</label>
              <select class="form-select" (change)="getProvincias('billingAddress')"
                      formControlName="pais" id="paisB" required>
                <option *ngFor="let pais of paises"
                        [ngValue]="pais">{{pais.name}}</option>
              </select>
              <div *ngIf="billingAddressPais.invalid && (billingAddressPais.dirty ||
billingAddressPais.touched)" class="alert alert-danger">
                <div *ngIf="billingAddressPais.errors.required">
                  País es obligatorio.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="provinciaB" class="form-label">Provincia</label>
              <select class="form-select" formControlName="provincia" id="provinciaB"
                      required>
                <option *ngFor="let provincia of billingAddressProvincias" value="{{provincia.name}}">{{provincia.name}}</option>
              </select>
              <div *ngIf="billingAddressProvincia.invalid && (billingAddressProvincia.dirty || billingAddressProvincia.touched)" class="alert alert-danger">
                <div *ngIf="billingAddressProvincia.errors.required">
                Provincia es obligatoria.
              </div>
            </div>
          </div>

            <div class="col-md-3">
              <label for="cpB" class="form-label">C.P.</label>
              <input type="number" formControlName="cp" class="form-control" id="cpB">
              <div *ngIf="billingAddressCp.invalid && (billingAddressCp.dirty || billingAddressCp.touched)" class="alert alert-danger">
                <div *ngIf="billingAddressCp.errors.required || billingAddressCp.errors.notOnlyWhitespace">
                  Código Postal es obligatorio.
                </div>
                <div *ngIf="billingAddressCp.errors.minlength">
                  Mínimo 2 caracteres.
                </div>
              </div>

          </div>

        </div>
      </div>

        <div class="col-md-2">
          <label for="numeroB" class="form-label">Número</label>
          <input type="text" formControlName="numero" class="form-control"  id="numeroB" >
          <div *ngIf="billingAddressNumero.invalid && (billingAddressNumero.dirty || billingAddressNumero.touched)" class="alert alert-danger">
            <div *ngIf="billingAddressNumero.errors.required || billingAddressNumero.errors.notOnlyWhitespace">
              Número es obligatorio.
            </div>
            <div *ngIf="billingAddressNumero.errors.minlength">
              Mínimo 2 caracteres.
            </div>
          </div>
        </div>
        </div>
      </div>
      <!--      ******    final de direccion de facturacion -->

      <!-- ***  TARJETA DE CREDITO     -->
      <hr class="my-4">
      <h4 class="mb-3">Pago</h4>
      <div class="row gy-3" formGroupName="creditCard">

        <div class="col-md-3">
          <label for="cardType">Tipo de tarjeta</label>
          <select class="form-select" id="cardType" formControlName="cardType">
            <option value="VISA">VISA</option>
            <option value="MasterCard">MasterCard</option>
          </select>
          <div *ngIf="cardType.invalid && (cardType.dirty || cardType.touched)" class="alert alert-danger">
            <div *ngIf="cardType.errors.required || cardType.errors.notOnlyWhitespace">
              Tipo de tarjeta es obligatorio.
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <label for="nameOnCard" class="form-label">Nombre en la tarjeta</label>
          <input formControlName="nameOnCard" type="text" class="form-control"
                 id="nameOnCard" >
          <small class="text-muted">Nombre completo que aparece en la tarjeta</small>
          <div *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)"             class="alert alert-danger">
            <div *ngIf="nameOnCard.errors.required || nameOnCard.errors.notOnlyWhitespace">
              País es obligatorio.
            </div>
            <div *ngIf="nameOnCard.errors.minlength">
              Mínimo 2 caracteres.
            </div>
          </div>


          <div class="col-md-12">
            <label for="cardNumber" class="form-label">Número de la tarjeta</label>
            <input formControlName="cardNumber" type="text" class="form-control"
                   id="cardNumber" placeholder="" >
            <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                 class="alert alert-danger">
              <div *ngIf="cardNumber.errors.required">
                El número de la tarjeta es obligatorio.
              </div>
              <div *ngIf="cardNumber.errors.pattern">
                Son 16 dígitos.
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <label for="expirationMonth" class="form-label">Mes</label>
            <select class="form-select" id="expirationMonth"
                    formControlName="expirationMonth" >
              <option *ngFor="let month of creditCardMonths"
                      value="{{month}}">{{month}}</option>
            </select>
            <div *ngIf="expirationMonth.invalid && (expirationMonth.dirty ||
expirationMonth.touched)" class="alert alert-danger">
              <div *ngIf="expirationMonth.errors.required">
                El mes es obligatorio.
              </div>
            </div>
          </div>


          <div class="col-md-2">
            <label for="expirationYear" class="form-label">Año</label>
            <select class="form-select" id="expirationYear"
                    (change)="handleMonthsAndYears()" formControlName="expirationYear" required>
              <option *ngFor="let year of creditCardYears"
                      value="{{year}}">{{year}}</option>
            </select>
            <div *ngIf="expirationYear.invalid && (expirationYear.dirty ||
expirationYear.touched)" class="alert alert-danger">
              <div *ngIf="expirationYear.errors.required">
                El mes es obligatorio.
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label for="securityCode" class="form-label">CVV</label>
            <input formControlName="securityCode" type="text" class="form-control"
                   id="securityCode" required>
            <div *ngIf="securityCode.invalid && (securityCode.dirty ||
securityCode.touched)" class="alert alert-danger">
              <div *ngIf="securityCode.errors.required">
                El CCV es obligatorio.
              </div>
              <div *ngIf="securityCode.errors.pattern">
                Son 3 dígitos
              </div>
            </div>
          </div>


      </div>





      </div>

      <!-- **** ./  TARJETA DE CREDITO            -->
      <hr class="my-4">

      <!-- ****     detalles del pedido        -->
              <div class="form-area">
                <h3>Revisa tu pedido</h3>
                <p><span class="font-weight-bold">Cantidad total:</span>
                  {{ totalQuantity }}
                </p>
                <p><span class="font-weight-bold">Envío:</span>GRATUÍTO</p>
                <p><span class="font-weight-bold">Precio total:</span>
                {{ totalPrice | currency: 'EUR' }}
                </p>
                <hr class="my-4">
                <button class="w-100 btn btn-warning btn-lg mb-5" type="submit">Pagar</button>
              </div>

      <!-- **** ./detalles del pedido-->

    </div>
  </form>
</div>
